:host {
  display: block;
  height: 100%;
  background: white;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;

  width: 80px;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  z-index: 100;

  &:hover {
    width: 220px;
    .logout-btn {
      justify-content: center;
    }
  }

  &:not(:hover) {
    nav a,
    .logout-btn {
      gap: 50px;
    }

    nav a.active {
      background-color: transparent;
      &::before {
        opacity: 1;
      }
    }

    .logo {
      font-size: 0;
      background-image: url('https://res.cloudinary.com/dhjamvg6j/image/upload/v1770173915/logo_ycoscg.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100px;
    }
  }
}

aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px 12px;
  width: 100%;
}

.logo {
  justify-content: center;
  font-size: 24px;
  margin-left: -12px;
  margin-right: -12px;
  width: calc(100% + 24px);
  height: 50px;
  font-weight: 800;
  color: #003366;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;

  a {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 18px;
    text-decoration: none;
    color: #64748b;
    font-weight: 500;
    border-radius: 12px;
    transition: all 0.2s;
    white-space: nowrap;

    &:hover {
      background-color: #f1f5f9;
      color: #0066cc;
    }

    &.active {
      background-color: #e3f2fd;
      color: #0066cc;
      font-weight: 700;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 24px;
        background-color: #0066cc;
        border-radius: 0 4px 4px 0;
        opacity: 0;
        transition: opacity 0.2s;
      }
    }

    i {
      font-size: 1.25rem;
      margin-right: 0;
      vertical-align: middle;

      color: inherit;
    }

    &.active i {
      color: #0066cc;
    }
  }
}

.logout-btn {
  margin-top: auto;
  padding: 12px 18px;
  background-color: #eef2ff;
  color: #e54646;
  border-radius: 12px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  transition: 0.2s;
  white-space: nowrap;

  &:hover {
    background-color: #e0e7ff;
  }
}
