@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  @apply bg-bg-main text-gray-800;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
  &:hover {
    @apply bg-ctu-blue;
  }
}
/* =========================================
   CUSTOM MATERIAL SNACKBAR (Xuyên giáp MDC)
   ========================================= */

/* 1. Xuyên thẳng vào lớp bề mặt (surface) để ép màu nền */
.success-snackbar .mdc-snackbar__surface {
  background-color: #4caf50 !important; /* Xanh lá */
}

.error-snackbar .mdc-snackbar__surface {
  background-color: #f44336 !important; /* Đỏ */
}

/* 2. Đổi màu chữ của Text thành màu trắng */
.success-snackbar .mdc-snackbar__label,
.error-snackbar .mdc-snackbar__label {
  color: white !important;
}

/* 3. Đổi màu chữ của nút "Đóng" thành màu trắng */
.success-snackbar .mat-mdc-button .mdc-button__label,
.error-snackbar .mat-mdc-button .mdc-button__label {
  color: white !important;
}

/* 4. Đẩy khung thông báo xuống để không bị thanh Header che khuất */
.mat-mdc-snack-bar-container {
  margin-top: 70px !important; /* Nếu thấy còn bị che thì tăng số này lên (vd 80px, 90px) */
}
