@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  @apply bg-bg-main text-gray-800;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
  &:hover {
    @apply bg-ctu-blue;
  }
}


.success-snackbar .mdc-snackbar__surface {
  background-color: #4caf50 !important;
}

.error-snackbar .mdc-snackbar__surface {
  background-color: #f44336 !important;
}

.success-snackbar .mdc-snackbar__label,
.error-snackbar .mdc-snackbar__label {
  color: white !important;
}

.success-snackbar .mat-mdc-button .mdc-button__label,
.error-snackbar .mat-mdc-button .mdc-button__label {
  color: white !important;
}

.mat-mdc-snack-bar-container {
  margin-top: 70px !important;
}
